      	body {
		background-image: url(../images/background.jpg);
		background-size: cover;
		background-repeat: repeat;
		background-attachment: fixed;
		font-family: tahoma;
		text-align: left;
	}


      	header {
        	text-align: center;
     	}


      	nav {
        	text-align: center;
      	}


	table, th, td {
		width: 30%;
		margin-left:auto;
    		margin-right:auto;
		font-size: 15px;
		border-style: inset;
    		border-width: 2px;
		border-color: #ffffff;
	}


	footer {
		font-size: 10px;
		position:fixed;
		margin-left: -10px;
		width: 105%;
		background-color: #000000;
		color: #FFFFFF;
    		bottom:0;
	}

  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
