      	body {
		background-image: url(../images/background.jpg);
		background-size: cover;
		background-repeat: repeat;
		background-attachment: fixed;
		font-family: tahoma;
		text-align: left;
	}

	
	header { 
        	text-align: center;
		size: auto;
     	}


     	nav {
        	text-align: center;
      	}



	.indent-1 {
		float: left;
	}

    	.indent-1 section {
		width: 50%; float: left;
		margin-left: 100px;
	}

	.indent-2 section {
	width: 50%; float: left;
	margin-left:150px;
	}



	.headerDivider {
    		border-right: 1px solid #9a9a9a; 
     		height:60%;
     		position:absolute;
     		left:450px;
    		top:300px; 
	}

	footer {
		font-size: 10px;
		
		position:fixed;
		margin-left: -10px;
		width: 105%;
		background-color: #000000;
		color: #FFFFFF;
    		bottom:0;
	}